/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../.nvm/versions/node/v20.13.0/lib/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!../../../.nvm/versions/node/v20.13.0/lib/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/source/stepper/components/Step4/Step4.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.step4-container {
    padding: 20px;
}

.form-columns {
    display: flex;
    gap: 20px;
}

.form-column {
    flex: 1 1;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.form-row label {
    width: 150px;
    /* Adjust as needed */
    font-weight: bold;
    margin-right: 10px;
}
